@font-face {
    font-family: 'Calibre-Regular';
    src: url('http://br-assets.imgix.net/content/fonts/CalibreWeb-Regular.woff2') format('woff2'), url('http://br-assets.imgix.net/content/fonts/CalibreWeb-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Calibre-Semibold';
    src: url('http://br-assets.imgix.net/content/fonts/CalibreWeb-Semibold.woff2') format('woff2'), url('http://br-assets.imgix.net/content/fonts/CalibreWeb-Semibold.woff') format('woff');
}

h6 {
    margin-top: 0;
}

.brcom-nav-ad {
    height: 200px;
    width: 320px;
}

.brcom-nav-ad__image {
    display: block;
    margin-bottom: 20px;
    width: 100%;
}

.brcom-nav-ad__copy {
    color: #202020;
    font-family: 'Calibre-Semibold';
    font-size: 18px;
    text-decoration: none;
    transition: color 250ms ease-in;
}

.brcom-nav-ad__copy:hover {
    color: #3139f2;
}

.brcom-nav-media {
    -webkit-box-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: flex;
}

.brcom-nav-media.\--reverse > .brcom-nav-media__figure {
    margin-left: 27px;
    margin-right: 0;
    -webkit-box-ordinal-group: 2;
    order: 1;
}

.brcom-nav-media__figure {
    margin-right: 27px;
    margin-right: 1.5rem;
    margin-left: 0;
}

.brcom-nav-media__body {
    flex-basis: 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
}

.brcom-nav-media__body > :last-child {
    margin-bottom: 0;
}

.brcom-nav-ad__svg {
    width: 150px
}

.brcom-nav-icon {
    width: 27px;
    height: 27px;
    color: inherit;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.brcom-nav-icon.\--fg-blue {
    color: #3139f2;
    fill: #3139f2;
}
.brcom-nav-icon__glyph {
    display: block;
    fill: currentColor;
    height: 100%;
    vertical-align: middle;
    width: 100%;
}

.brcom-mg-bottom-sm {
    margin-bottom: 20px;
}
